li,
ul {
  float: left;
  font-size: 10pt;
  border-bottom: 1px solid rgb(162, 59, 168);
  vertical-align: baseline;
}

.Table {
  text-align: center;
  vertical-align: middle;
  width: 800px;
}

.th1 {
  vertical-align: middle;
}

.board_text {
  width: 700px;
  height: 100px;
  text-align: center;

}

.rankings {
  text-align: center;
}

.info {
  position: fixed;
}
.mukwrite{
  text-align: center;
  background-color:#FFCBCB;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 20px;
  padding-left: 30px;
  font-weight: bolder;
}
.picture{
  text-align: center;
  padding: 10px;
}
.push{
  text-align: center;
  text-decoration:none;
}
.text{
  text-align: center;
}
.textcomment{
  width: 50px;
  height: 50px;
  display: inline-block;
}
.inlinecommet{
  display: inline-block;
font-size: 10px;

}
.inputcomment{
  display:flex;
}
.buttoncomment{
width: 20px;
font-size: 3px;}